<div *ngIf="visivel" class="overlay"></div>
<div *ngIf="visivel" class="off-canvas" [@fadeInOut]>

  <div class="content">
    <div class="conteudo-topo">
      <p>Histórico</p>
    <button (click)="close()"><i class="fa-solid fa-x"></i></button>
    </div>
    <div *ngIf="historico.length > 0; else noDataMessage">
      <div class="conteudo-historico" *ngFor="let item of historico">
        <span>Data: {{ formatarData(item.data) | date:'MM/dd/yyyy HH:mm:ss' }}</span>
        <span>Cep: {{ item.cep }}</span>
        <span>Km: {{ item.raioKm }}</span>
      </div>
    </div>
    
    <ng-template #noDataMessage>
      <div class="messageNotFound">
        <p>Nada para exibir</p>
      </div>
    </ng-template>
  </div>
</div>