.navbar {
    display: flex;
    align-items: center;
    background-color: #001F3F; 
    padding: 10px;
    color: #fff;
    font-family: 'Kodchasan', sans-serif;
  }
  
  
  .welcome {
    padding: 0px 10px;
    font-size: 16px; 
    margin-left: auto;
  }

  .logout-button {
    padding: 5px 10px;
    background-color: #ddd; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #333; 
  }