<div class="container">

    <div class="form-login">
        <div class="titulo-form">
            <span>Login</span>
        </div>
        <div class="form">
            <div class="input-group">
                <app-input-dinamic label="Usuário" inputType="text" value="" ></app-input-dinamic>
            </div>
            <div class="input-group">
                <app-input-dinamic label="Senha" inputType="text" value="" ></app-input-dinamic>
                <a href="#">Esqueceu sua senha?</a>
            </div>
        </div>
        <div class="btn-send">
            <button>Acessar</button>
            <a href="#">Não tem cadastro ainda? Cadastre-se</a>
        </div>
    </div>

    <div class="conteudo">
        <div class="titulo">
            <h1>CEPConnect</h1>
            <span>Sua solução ágil para 
                localização de CEPs</span>
        </div>
        <div class="svg-gif">
            <img src="../../../assets/navigation-animate.svg" alt="">
        </div>
    </div>

</div>
