.input-dinamic{
    display: flex;
    flex-direction: column;
}

.input-dinamic > label{
    font-size: 18px;
    color: #000000d5;
}

.input-dinamic > input{
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    font-size: 18px;
}