/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kodchasan&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;

}

body {
    background: url(assets/fundo.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
